#enTeteAbout
    color: #B8FFE9
    margin-top: 150px
    font-size: 50px
    font-family: Monospace
    line-height: 100px

#contient
    width: 80%
    margin: auto
    
    #paragraphe
        width: 50%
        color: white
        line-height: 35px
